img:hover {
  transform: scale(1.2, 1.2);
  transition: ease-in-out 0.6s;
}
.btn:hover {
  transition: all 0.6s;
}
.project-card:hover {
  transform: translateY(-10px);
  transition: transform 0.6s;
}
