.left-side {
  /* background-color: #9921e8; */
  /* background-image: linear-gradient(315deg, #9921e8 0%, #5f72be 74%); */
  background-color: #06021f;
}
.fat-nav {
  list-style: none;
}
.fat-nav > li {
  /* border-bottom: 1px solid black; */
  padding: 20px 0;
  height: 45px;
  list-style: none;
}
.fat-nav li a {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: 1.5px;
  color: white;
  border-bottom: 1px solid rgb(102, 99, 99);
}
.fat-nav li a .fa {
  font-size: 1.4rem;
}
.fat-nav a p:nth-child(1) {
  width: 20%;
  text-align: right;
  margin: 0;
}
.fat-nav a p:nth-child(2) {
  width: 80%;
  text-align: left;
  padding-left: 20px;
  margin: 0;
}

.fat-nav a p:nth-child(2):hover {
  padding-left: 30px;
  transition: padding-left 0.4s;
}
.social a {
  color: white;
  font-size: 1.5rem;
}
