.dark-bg {
  background-color: #06021f !important;
  color: white !important;
}

.heading-border {
  position: relative;
}
.heading-border:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 15px;
  right: 15px;
  background-color: #508ef4;
  height: 7px;
  border-radius: 10px 10px 10px 10px;
}

.fade-enter {
  opacity: 0.3;
  transform: translateX(-50px);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 600ms, transform 600ms;
}

.homepage {
  background-image: url(./photo/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.homepage::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #181818;
  opacity: 0.6;
}
.particle-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 10;
}

/* for header */
@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
.row h4 {
  font-family: "Sansita Swashed", cursive;
}

/* for description type writing */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.row {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
  line-height: 25px;
}

/* buttons */
.btn-outline-info {
  background-color: #fff;
  border: 2px solid #508ef4;
  color: #508ef4;
  border-radius: 20px 5px;
}
.btn-outline-info:hover {
  background-color: #508ef4;
  border: 2px solid #508ef4;
  color: #fff;
}
.c-text {
  color: #508ef4;
}

.progress {
  height: auto !important;
}

@media only screen and (max-width: 576px) {
  .container-fluid {
    height: auto !important;
    border-radius: 10px;
  }
}
